body{
    background-color: black;
}
.bas{
    color: red;
    font-size: 90px;
    font-family: monospace;
}
.al{
    color: red;
    font-family: monospace;
    font-size: 30px;
}
.buton{
  height: 50px;  
  background-color: black;
  color: green;
  font-family: monospace;
  border: black;
  font-size: 40px;
}
.buton:hover{
    color: chartreuse;
}